/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1.5px;
    font-family: 'jost';
}

/* Global styles */
html,
body {
    text-transform: capitalize;
   
}

a{
  text-decoration: none;
  list-style: none;
  font-size: .9rem;
}
.nav{
  background-color: rgb(196, 255, 255);
  height: 40px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}